* {
   margin: 0;
   padding: 0;
}
html,
body {
   height: 100%;
   font-family: sans-serif;
   box-sizing: border-box;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   flex-direction: column;
   background-color: #0a6cf1;
}

#main {
   background-color: #080808;
   padding: 30px;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 60px;
   box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

#birthday {
   width: 260px;
   padding: 16px 20px;
   border-radius: 4px;
   border: none;
   font-weight: 500;
}

#button {
   background-color: white;
   border: none;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 14px;
   font-weight: 500;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 4px;
}

#age {
   width: 500px;
   margin-top: 40px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
}

.ages__wrapper {
   width: 10%;
   background-color: #080808;
   color: white;
   padding: 20px 30px;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   flex-direction: column;
}

.ages {
   font-size: 40px;
   font-weight: 100;
}

.ages__tag {
   font-size: 14px;
   font-weight: lighter;
   color: #666;
   letter-spacing: 1px;
}
